<div>
  <h2>{{contact.name}} {{contact.surname}}</h2>
  <h4>{{contact.email}}</h4>
  <div>{{contact.address}}</div>

  <br/>

  <div id="picture-thumb" ng-if="contact.picture" ng-updatepicture>
      <img  src="{{contact.picture}}" />
  </div>
  <div id="picture-thumb" ng-if="!contact.picture" ng-updatepicture>
      <img src="assets/img/user.png" />
  </div>
  <br />
  <div>
    <a ui-sref="contacts.detail.update({contactId:contact.id})"><i class="fa fa-pencil-square-o fa-lg"></i></a>
    <a ui-sref="contacts.detail.delete({contactId:contact.id})"><i class="fa fa-trash-o fa-lg"></i></a>
  </div>         

  <div ui-view>

  </div>
</div>  