<div>
  <h2>Add contact</h2>
  <form novalidate="novalidate" class="form-horizontal">

    <div class="col-md-7">
      <div class="form-group">
        <label for="name" class="col-md-2">Name</label>
        <div class="col-md-6">
          <input class="form-control" placeholder="Enter your name" id="name" type="text" ng-model="newContact.name">
        </div>
      </div>
      <div class="form-group">
        <label for="surname" class="col-md-2">Surname</label>
        <div class="col-md-6">
          <input class="form-control" placeholder="Enter your surname" id="surname" type="text" ng-model="newContact.surname">
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-md-2">Email</label>
        <div class="col-md-8">
          <input class="form-control" placeholder="Enter your email" id="email" type="text" ng-model="newContact.email">
        </div>
      </div>
      <div class="form-group">
        <label for="address" class="col-md-2">Address</label>
        <div class="col-md-8">
          <input class="form-control" placeholder="Enter your address" id="address" type="text" ng-model="newContact.address">
        </div>
      </div>    
      <div class="form-group">
        <label for="imageToUpload" class="col-md-2">Picture</label>
        <div class="col-md-4">
          <input class="btn btn-sm btn-default" placeholder="Enter your picture" id="imageToUpload" type="file" ng-readimage>
        </div>
      </div>    
      <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
          <button class="btn btn-sm btn-primary" type="button" ng-confirmaddbutton>Add</button>
          <a type="button" class="btn btn-sm btn-link" ui-sref="contacts.list">Cancel</a>
        </div>      
      </div>
    </div>

    <div class="col-md-5" id="picture-thumb" ng-updatepicture></div>

  </form>
</div>