<hr/>
<div>
  <form novalidate="novalidate" class="form-horizontal">
    <div class="form-group">
      <label for="name" class="col-md-2">Name</label>
      <div class="col-md-6">
        <input class="form-control" placeholder="Enter your name" id="name" type="text" ng-model="updateContact.name">
      </div>
    </div>
    <div class="form-group">
      <label for="surname" class="col-md-2">Surname</label>
      <div class="col-md-6">
        <input class="form-control" placeholder="Enter your surname" id="surname" type="text" ng-model="updateContact.surname">
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-md-2">Email</label>
      <div class="col-md-8">
        <input class="form-control" placeholder="Enter your email" id="email" type="text" ng-model="updateContact.email">
      </div>
    </div>    
    <div class="form-group">
      <label for="picture" class="col-md-2">address</label>
      <div class="col-md-8">
        <input class="form-control" placeholder="Enter your address" id="email" type="text" ng-model="updateContact.address">
      </div>
    </div>
      <div class="form-group">
        <label for="imageToUpload" class="col-md-2">Picture</label>
        <div class="col-md-4">
          <input class="btn btn-md btn-default" placeholder="Enter your picture" id="imageToUpload" type="file" ng-readimage>
        </div>
      </div>       
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <button class="btn btn-md btn-primary" type="button" ng-confirmupdatebutton>Update</button>
        <a type="button" class="btn btn-md btn-link" ui-sref="contacts.detail({contactId:updateContact.id})">Cancel</a>
      </div>
    </div>
  </form>

</div>