<div class="row">
  <div class="col-md-3">
    <div class="well well-small">
      <div class="row">
        <form novalidate="novalidate" class="form-horizontal">
          <input class="form-control" placeholder="Search" type="text" ng-model="query">       
        </form>
      </div>

      <br />

      <div class="row">
        <p>There are <strong>{{(contacts|filter:query).length}}</strong> contacts matched.</p>
      </div>

      <div class="row">
        <a type="button" class="btn btn-xs btn-default col-md-offset-7" ng-allcontactsbutton>All contacts</a>
      </div>

      <hr/>

      <ul class="row nav nav-list" ng-show="(contacts|filter:query).length">
        <li ng-repeat="contact in contacts|filter:query">
          <a ui-sref="contacts.detail({contactId:contact.id})">{{contact.name}} {{contact.surname}}</a>
        </li>
      </ul>

      <hr/>

      <div class="row">
        <a type="button" class="btn btn-sm btn-primary col-md-offset-1" ui-sref="contacts.add">Add Contact</a>
      </div>
    </div>
  </div>

  <div ui-view class="col-md-9"></div>
</div>