<hr/>
<div>
    <div>Do you really want to delete {{contact.name}}?</div>

    <br/>

    <div>
        <button class="btn btn-sm btn-danger" type="button" ng-confirmdeletebutton>Confirm</button>
        <a type="button" class="btn btn-sm btn-link" ui-sref="contacts.detail({contactId:contact.id})">Cancel</a>
    </div>
</div>
