<!DOCTYPE html>
<html ng-app="ngCrudity" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

  </head>
  <body>
    <nav class="navba navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href ui-sref="home">CRUDity</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ng-class="{active: $state.includes('contacts')}">
              <a href ui-sref="contacts.list">
                <i class="fa fa-users"></i>
                Contacts
              </a>
            </li>               
            <li ui-sref-active="active">
              <a href ui-sref="about">
                <i class="fa fa-info-circle"></i>
                About
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="content-wrapper" class="container" ui-view></div>

    <footer class="footer">
      <div class="container">
        <div class="footer-inner">
        </div>
      </div>
    </footer>
  </body>
</html>
