<div class="jumbotron">
  <h1>CRUDity</h1>

  <p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dignissim lacus non ligula posuere, sit amet condimentum lorem ultricies. Sed vita
  </p>
</div>
